
<% if (config.aomori_search_algolia){ %>
    <%- partial('_partial/search') %>
<% } %>

<div class="widget" id="widget">
    <% (config.aomori_widgets || theme.aomori_widgets).forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
</div>

<div id="backtop" style="margin-bottom: 10px;"><i class="icon icon-arrow-up"></i></div>

<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="" data-description="Support me on Buy me a coffee!" data-message="Buy me a coffee :)" data-color="#FFDD00" data-position="Right" data-x_margin="18" data-y_margin="18"></script>