
<% if (config.aomori_search_algolia){ %>
    <%- partial('_partial/search') %>
<% } %>

<div class="widget" id="widget">
    <% (config.aomori_widgets || theme.aomori_widgets).forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
</div>

<div id="backtop" style="margin-bottom: 10px;"><i class="icon icon-arrow-up"></i></div>

<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="icaughtacode" data-color="#dae3f7" data-emoji="ðŸ±"  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#dfe1e8" data-font-color="#dfe1e8" data-coffee-color="#dfe1e8" ></script>
