<% if (post.link_reprint){ %>
<div class="article-reprint hairline">
  <% post.link_reprint.forEach(function(item, i){ %>
    <p>
      Credited to <a target="_blank" href="<%= item.url %>"><%= item.title %></a>
    </p>
  <% }) %>
</div>
<% } %>